<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        {% for link in site.data.navigation.menu %}

        {% capture url %}

          {% if link.url contains "//" %}
              {{ link.url }}
          {% else %}
              {{ link.url | relative_url }}
          {% endif %}
        {% endcapture %}

        {% if link.children != null %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ link.title | upcase }}</a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for child in link.children %}
              <a href="{{ child.url | relative_url }}" class="dropdown-item">{{ child.title | upcase }} </a>
            {% endfor %}
          </div>
        </li>

        {% else %}

          <li class="nav-item">
            <a class="nav-link" href="{{ url }}">{{ link.title | uppercase }}</a>
          </li>

        {% endif %}

        {% endfor %}

      </ul>
    </div>
  </div>
</nav>