<!-- about page partners list -->

<div class="row partners">

    <div class="w-100">

    <a class="d-block float-left" href="http://decarceratepa.info/cadbi" target="_blank">
        <div class="pb-4 cont-img" style="background-image: url(/assets/images/cadbi-postcard-244x300.png)"></div>
    </a>

    <h3><a href="http://decarceratepa.info/cadbi" target="_blank">The Coalition to Abolish Death By Incarceration (CADBI)</a></h3>

    <p>CADBI is working to bring about an end to life without parole and other harsh sentencing practices in PA. If you are currently incarcerated, get involved by writing to us at CADBI c/o Decarcerate PA, PO Box 40764, Philadelphia PA 19107. If you or your loved ones on the outside are interested in getting involved, CADBI currently meets on the third Wednesday of every month at Project Home from 6:30-8:30 PM. Get in touch at CADBIphilly@gmail.com and by phone at 267-606-0324 to confirm the next meeting time and location.</p>
    </div>

    <div class="w-100">

    <a class="d-block float-left" href="http://decarceratepa.info/" target="_blank">
        <div class="pb-4 cont-img" style="background-image: url(/assets/images/dpa.png)"></div>
    </a>

    <h3><a href="http://decarceratepa.info" target="_blank">Decarcerate PA</a></h3>

    <p>Decarcerate PA is a grassroots campaign working to end mass incarceration in Pennsylvania. Decarcerate PA demands that PA stop building prisons, reduce the prison population, and reinvest money in our communities. There are many ways to become involved in Decarcerate’s efforts. Visit their website at decarceratepa.info or get in touch at decarceratepa@gmail.com and by phone at 267-217-3372. Individuals on the inside can sign up to receive their quarterly newsletter (which includes featured action steps in every issue) by writing to Decarcerate PA, PO Box 40764, Philadelphia PA 19107.</p>
    </div>

    <div class="w-100">

    <a class="d-block float-left" href="https://womeninprisondefensecommittee.wordpress.com/" target="_blank">
        <div class="pb-4 cont-img" style="background-image: url(/assets/images/lets-get-free.jpg)"></div>
    </a>

    <h3><a href="https://womeninprisondefensecommittee.wordpress.com/" target="_blank">Let’s Get Free: The Women and Trans Prisoner Defense Committee</a></h3>

    <p>Let’s Get Free is a group in Western Pennsylvania that has come together to fight for the freedom of Avis Lee and Charmaine Pfender. These two cases are representative of many women incarcerated throughout the country. Charmaine and Avis are both sentenced to death by incarceration and the journey for their lib- eration is connected to the broader movement for transformative justice and healing. While Let’s Get Free is currently focused on two cisgender women, they believe prisons are a form of violence against women & trans people and want to work with and support as many people as possible within their capacity. They meet in Pittsburgh on the 2nd Monday of each month. Contact them by phone at 412-932-7786 or by email at LetsGetFreePA@ gmail.com or visit letsgetfree.info</p>
    </div>

</div>