
// child theme styles for How Are We Free

// * * * Variables & Mixins * * * //

// fonts
$header-font: "cooper_hewittmedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font: "cooper_hewittbook", "Helvetica Neue", Helvetica, Arial, sans-serif;
$emphasis-font: "londrina_outline", sans-serif;

@mixin opacity-transition(){
      -webkit-transition: opacity .5s;
      -moz-transition: opacity .5s;
      -o-transition: opacity .5s;
      transition: opacity .5s;
}

// * * * Global * * * //

h1, h2, h3, h4, h5, h6, #mainNav {
    font-family: $header-font;
}

body, p {
    font-family: $body-font;
}

nav#mainNav.navbar.fixed-top.is-fixed {

    top: 0;
    &.is-visible {
        transform: unset;
        -moz-transform: unset;
        -webkit-transform: unset;
        -o-transform: unset;
    }
}

// * * * default Pages * * * //

nav#mainNav {
    background-color: rgba($gray-600, .75);
    line-height: 2rem;

    .navbar-brand {
        font-size: 1.75rem;
    }

    #navbarResponsive li.nav-item a:hover {
        color: darken($gray-600,10%);
    }

    #navbarResponsive li.nav-item a {
        font-size: 1rem;
        color: $gray-300;
    }

    #navbarResponsive .dropdown-menu.show {
        background-color: rgba($gray-600, .5);
        top: 1.85rem;
        min-width: unset;
        line-height: .75rem;
        border-radius: .1rem;

        a.dropdown-item {
            font-size: .75rem;
        }

        a.dropdown-item:hover {
            background-color: rgba($gray-600, 0);
        }
    }
}

nav#mainNav + .container {
    margin-top: 5rem;
}

// * * * Contributors * * * //

.contributors {
    
    flex-direction: column;

    p {
        float: right;
        width: 75%;
        margin-top: 0;
        @media screen and (max-width: 992px) { width: 100%; }
    }

    a {
        width: 10rem;
    }

    a .cont-img {
        height: 10rem;
        width: 10rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
}

// * * * Posts * * * //

.posts-grid {
    .post {
        height: 15rem;
        width: 15rem;
        background-color: $gray-900;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        padding: 0;
        
        .title {
            position: relative;
            top: 0;
            opacity: 0;
            @include opacity-transition();
            height: 100%;
            width: 100%;
            background: $gray-600;

            h3 {
                text-align: center;
                position: inherit;
                color: $gray-300;
                top: 25%;
            }
        }

        &:hover .title {
            opacity: .85;
        }
    }
}

// * * * Gallery * * * //

.featured {

    nav#mainNav {
        background-color: rgba($gray-300,0);
    }

    nav#mainNav+.container-fluid {
        padding: 0rem;
    }

    .carousel-inner {
        background-color: $gray-600;
    }

    .carousel-item {

        height: 100vh;
        @media screen and (max-width: 768px) {
            padding-top: 4rem;
        }

        img {

            height: 100%; 

            @media screen and (max-width: 768px) {
                height: auto;
                width: 100% !important;
            }

    }
    }

    .carousel-caption   a p {
        // text-align: left;
        background-color: rgba($gray-900, .75);
        padding: 1rem !important;
        color: $gray-300;
        font-weight: 300;
        font-family: $body-font;
    }

    .carousel-caption {
        opacity: 0;
        @include opacity-transition();
    }

    .carousel-item:hover .carousel-caption {
        opacity: 1;
    }
}
// * * * Splash * * * //

.splash header.masthead {

    background-attachment: fixed;
    background-position: 50% 20%;
    background-size: 132%;
    
    @media screen and (max-width: 768px) {
        margin-top: 5.75rem;
        background-size: cover;   
    }
    
    .page-heading {
        padding-top: 5rem;
    }

    .page-heading h1, 
    span.subheading p,
    span.subheading a {
        background-color: rgba($gray-900, .75);
        padding: 0.5rem 1rem;        
    }

    span.subheading a {
        color: $gray-300;
        font-weight: 300;
        font-family: $body-font;
    }

    .page-heading span.subheading {
        text-align: left;
    }

    .overlay {
        opacity: 0;
    }
}

