
// child theme styles for How Are We Free

// * * * Variables & Mixinx * * * //

// fonts
$header-font: "cooper_hewittmedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font: "cooper_hewittbook", "Helvetica Neue", Helvetica, Arial, sans-serif;
$emphasis-font: "londrina_outline", sans-serif;

// * * * Global * * * //

h1, h2, h3, h4, h5, h6, #mainNav {
    font-family: $header-font;
}

nav#mainNav.navbar.fixed-top.is-fixed {
    top: 0;

    &.is-visible {
        transform: unset;
        -moz-transform: unset;
        -webkit-transform: unset;
        -o-transform: unset;
    }
}

.splash header.masthead {

    height: 100vh;
    background-attachment: fixed;
    background-position: 50% 20%;
    background-size: 132%;
    
    .page-heading {
        padding-top: 5rem;
    }

    .page-heading h1, span.subheading {
        background-color: rgba($gray-900, .75);
        padding: 0 1rem;        
    }

    .page-heading span.subheading {
        text-align: left;
    }

    .overlay {
        opacity: 0;
    }
}

