
// Londrina Styles

@font-face {
    font-family: 'londrina_outline';
    src: url('fonts/LondrinaOutline-Regular-webfont.woff2') format('woff2'),
         url('fonts/LondrinaOutline-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'londrina_shadow';
    src: url('fonts/LondrinaShadow-Regular-webfont.woff2') format('woff2'),
         url('fonts/LondrinaShadow-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'londrina_sketch';
    src: url('fonts/LondrinaSketche-Regular-webfont.woff2') format('woff2'),
         url('fonts/LondrinaSketche-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'londrina_solid';
    src: url('fonts/LondrinaSolid-Regular-webfont.woff2') format('woff2'),
         url('fonts/LondrinaSolid-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// Cooper Hewitt Styles

@font-face {
    font-family: 'cooper_hewitt';
    src: url('fonts/cooperhewitt-bold.woff2') format('woff2'),
         url('fonts/cooperhewitt-bold.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'cooper_hewitt';
    src: url('fonts/cooperhewitt-book.woff2') format('woff2'),
         url('fonts/cooperhewitt-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('fonts/cooperhewitt-semibold.woff2') format('woff2'),
         url('fonts/cooperhewitt-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cooper_hewittmedium';
    src: url('fonts/cooperhewitt-medium.woff2') format('woff2'),
         url('fonts/cooperhewitt-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}