---
layout: default
---

<div class="container">

<div class="row">
    <h1>{{page.category | upcase}}</h1>
</div>
<div class="row">
    {% if page.excerpt %}
        {{ page.excerpt | markdownify }}
    {% endif %}
</div>

{% if page.category == 'works' %}

{% assign posts = site.works %}

{% elsif page.category == 'responses' %}

{% assign posts = site.responses %}

{% elsif page.category %}

{% assign posts = site.works | where: 'categories', page.category %}

{% elsif page.contributor %}

{% assign posts = site.works | where: 'contributors', page.contributors %}

{% endif %}

{% include posts-grid.html posts = posts %}
</div>