---
layout: default
---

<div class="container">


<!-- Features a grid of the related posts followed by the bio information of the contributors. -->

{% assign c = site.data.contributors.collaborators[page.contributors][0] %}
{% assign a = site.data.contributors.collaborators[page.contributors][1] %}
{% assign contributor_posts = site.works | where: 'contributors', page.contributors %}

<div class="row"><h2>{{  site.data.contributors.info[c].name | upcase }} &amp; {{  site.data.contributors.info[a].name | upcase }}</h2></div>

<!-- grid -->
{% include posts-grid.html posts = contributor_posts %}

<!-- contributors -->

<div class="row p-4 border contributors">

{% for curr in site.data.contributors.collaborators[page.contributors] %}

    {% assign info = site.data.contributors.info[curr] %}

    {% include contributors-grid.html c = info %}

{% endfor %}

</div>
</div>