---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.asset_subpath | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <div>
            <h1>{{ site.title }}</h1>
            {% if site.description %}
              <span class="subheading">{{ site.description | markdownify }}</span>
            {% endif %}
              <span class="subheading"><h3><a href="/gallery">view the gallery &rarr;</a></h3></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}


      </div>
    </div>
  </div>